# Файлы окружения
.env

# Виртуальное окружение
venv/
ENV/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# PyCharm/IDEA
.idea/

# VS Code
.vscode/

# Логи
*.log

# Файлы OS
.DS_Store
Thumbs.db
